/*# Front-end Style Guide

## Layout

The designs were created to the following widths:
*/
:root{
--MobileWidth: 375px;
--DesktopWidth: 1440px;
/*
## Colors

### Primary
*/
--VeryDarkMagenta: hsl(300, 43%, 22%);
--SoftPink: hsl(333, 80%, 67%);
/*
### Neutral
*/
--DarkGrayishMagenta: hsl(303, 10%, 53%);
--LightGrayishMagenta: hsl(300, 24%, 96%);
--White: hsl(0, 0%, 100%);
/*
## Typography

### Body Copy
*/
--FontSize: 15px;
/*
### Font
*/
--FontFamily: 'League Spartan', sans-serif;
--FontWeightSmall: 400;
--FontWeightMedium:500;
--FontWeightLarge:700;

}

.body{
    width:100vw;
    padding:0;
    margin:0 auto;
    font-family: var(--FontFamily);
    background-image: 
     url("./images/bg-pattern-top-mobile.svg"),
     url("./images/bg-pattern-bottom-mobile.svg");
    background-position: right 30vw top 0,
                         right 0  top 100vh;
    background-repeat: no-repeat;
    font-family: var(--FontFamily);

}

.container{
    width:370px;
    display:flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    overflow: hidden;

}

.container__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container__title{
    margin:0;
    margin-top:70px;
    font-size:2.57rem;
    color:var(--VeryDarkMagenta);
    width:280px;
    text-align: center;
    font-weight: var(--FontWeightLarge);
}

.container__text{
    color:var(--DarkGrayishMagenta);
    font-size: 18px;
    text-align: center;
    width:340px;
    line-height: 20px;
    font-weight: var(--FontWeightMedium);

}

.container__rates-container{
    margin:10px 0 40px 0;
}

.container__rate-container{
    background-color: var(--LightGrayishMagenta);
    width:300px;
    margin:10px 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding:15px;
    gap:15px;

}

.container__card{
    width:270px;
    background:var(--VeryDarkMagenta);
    border-radius:10px;
    padding:30px;
    height:230px;
    margin:10px 0;
    display: flex;
    flex-direction: column;
    color:var(--White);
    
}

.container__card-header{
    width:250px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    margin:20px 0;


}

.container__card-image{
    border-radius:50%;
    width:40px;
    height:40px;
}

.container__card-titles{
    display:flex;
    flex-direction: column;
    width:100%;
    gap:5px;

}

.container__card-username{
    margin:0;
}

.container__card-stats{
    margin:0;
    color:var(--SoftPink);
}

.container__card-quote{

    width:260px;
    line-height: 25px;
}

.rate-container__star-container{
    margin:0 auto;
    display: flex;
    gap:10px;
}

.rate-container__text{
    margin:0;
    font-weight: var(--FontWeightLarge);;
    color:var(--VeryDarkMagenta);
}

.attribution {
width:340px;
  font-size: 11px;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  gap:1px;
  margin:10px auto;
  align-self: center;
  font-family: var(--FontFamily);
}

.attribution__link {
  color: hsl(228, 45%, 44%);
}


@media screen and (min-width:1010px) {
    
.body{
    width:100vw;
    padding:0;
    height:auto;
    margin:0 auto;
    font-family: var(--FontFamily);
    background-image: 
     url("./images/bg-pattern-top-desktop.svg"),
     url("./images/bg-pattern-bottom-desktop.svg");
    background-position: right 50vw top 0px,
                         right 0  top 20vh;
    background-repeat: no-repeat;


}

.container{
    width:auto;
    max-width:1024px;
    height:auto;
    display:flex;
    flex-wrap:wrap;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    overflow: hidden;
    padding:50px 10px;

}

.container__header{
    position: relative;
    bottom:50px;
    width:365px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    margin: 0 auto;
    padding:20px;
}
.container__title{
    width:350px;
    text-align: left;

}
.container__text{
    text-align: left;
}
.container__rates-container{
    width:550px;
    position: relative;
}

.container__rate-container{
    width:350px;
    height:20px;
    display:flex;
    flex-direction: row;
    align-items: center;
    margin:20px 0;
    padding:15px;

    

}
.container__rates-container .container__rate-container:nth-child(1){
    position: relative;
    left:20px;
    
}
.container__rates-container .container__rate-container:nth-child(2){
    position: relative;
    left:50px;
    
}
.container__rates-container .container__rate-container:nth-child(3){
    position: relative;
    left:80px;
    
}

.container .container__card:nth-child(4){
    position: relative;
    top:20px;

}
.container .container__card:nth-child(5){
    position: relative;
    top:40px;
}
.container__card{
    width:250px;
    margin:10px 10px;
    border-radius:10px;
}

}